<?xml version="1.0" encoding="utf-8"?>
<DeploymentEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/VisualStudio/DeploymentEvent/2013/06">
  <ProjectName>Asi.WebAppRoot</ProjectName>
  <SourceControl type="TFS">
    <TfsSourceControl>
      <ProjectItemSpec>$/ScrumV3/sp137/Main10/imis.net/Packages/Platform/Asi.WebAppRoot/Asi.WebAppRoot.csproj</ProjectItemSpec>
      <ProjectVersionSpec>C194047</ProjectVersionSpec>
    </TfsSourceControl>
  </SourceControl>
  <Build type="TeamBuild">
    <MSBuild>
      <BuildDefinition kind="informative, summary">sp137_Main10</BuildDefinition>
      <BuildLabel kind="label">vstfs:///Build/Build/195407</BuildLabel>
      <BuildId kind="id">vstfs:///Build/Build/195407</BuildId>
      <BuildTimestamp kind="informative, summary">Wed, 29 Mar 2017 16:52:28 GMT</BuildTimestamp>
      <Configuration kind="informative">Release</Configuration>
      <Platform kind="informative">AnyCPU</Platform>
      <BuiltSolution>$/ScrumV3/sp137/Main10/imis.net/Packages/Platform/Asi.WebAppRoot.sln</BuiltSolution>
    </MSBuild>
  </Build>
</DeploymentEvent>