<?xml version="1.0" encoding="utf-8" ?>
<AsiNavigator>
	<Info>Production NavMarkers</Info>
  <AsiMap>
    <AsiNavMarker>CM.Setup</AsiNavMarker>
    <HostPage>iMIS/CampaignManagement/Setup.aspx</HostPage>
  </AsiMap>
  <AsiMap>
		<AsiNavMarker>PM.SupplementList</AsiNavMarker>
		<HostPage>iMIS/PackageManagement/SupplementList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>PM.Supplement</AsiNavMarker>
		<HostPage>iMIS/PackageManagement/Supplement.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SM.JobList</AsiNavMarker>
		<HostPage>iMIS/SegmentManagement/JobList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SM.Job</AsiNavMarker>
		<HostPage>iMIS/SegmentManagement/Job.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SM.SegmentList</AsiNavMarker>
		<HostPage>iMIS/SegmentManagement/SegmentList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SM.Segment</AsiNavMarker>
		<HostPage>iMIS/SegmentManagement/Segment.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SM.Group</AsiNavMarker>
		<HostPage>iMIS/SegmentManagement/SetupGroupEditor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SM.Setup</AsiNavMarker>
		<HostPage>iMIS/SegmentManagement/Setup.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.OpportunityList</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/OpportunityList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.Opportunity</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/Opportunity.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.Competitor</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/Competitor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.GroupsList</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/GroupsList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.TaskList</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/TaskList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.AllOppTaskList</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/AllOppTaskList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.Documents</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/Documents.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.ActivityList</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/ActivityList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.HistoryList</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/HistoryList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.Setup</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/Setup.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.OpportunityType</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/SetupOpportunityTypeEditor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.ActionPlan</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/SetupActionPlanEditor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.ActionPlanTask</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/SetupActionPlanEditorTask.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.ActionPlanNote</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/SetupActionPlanEditorNote.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OM.ActionPlanEmail</AsiNavMarker>
		<HostPage>iMIS/OpportunityManagement/SetupActionPlanEditorEmail.aspx</HostPage>
	</AsiMap>
  <AsiMap>
    <AsiNavMarker>OM.OppActionPlanNote</AsiNavMarker>
    <HostPage>iMIS/OpportunityManagement/OpportunityActionPlanNote.aspx</HostPage>
  </AsiMap>
  <AsiMap>
    <AsiNavMarker>OM.OppActionPlanTask</AsiNavMarker>
    <HostPage>iMIS/OpportunityManagement/OpportunityActionPlanTask.aspx</HostPage>
  </AsiMap>
  <AsiMap>
		<AsiNavMarker>IFC</AsiNavMarker>
		<HostPage>iMIS/AMC/AMC.htm</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>IFCHome</AsiNavMarker>
		<HostPage>iMIS/AMC/AMCHome.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>BobUserDefinedObjects</AsiNavMarker>
		<HostPage>iMIS/ContentManagement/Template.aspx?HierarchyCode=imis15.BOD.ObjectAutoGen</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Template.Uploader</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/DocumentLoadUtility/DocumentLoader.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Template.Loader</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/DocumentLoadUtility/DocumentLoaderPortfolio.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>File.Uploader</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/DocumentLoadUtility/DocumentLoader.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>File.Downloader</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/DocumentLoadUtility/Downloader.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>File.Editor</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/DocumentLoadUtility/DocumentLoaderPortfolio.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>System.FinderAdder</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/FinderAdder/FinderAdder.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>System.ContactAdder</AsiNavMarker>
		<HostPage>AsiCommon/Controls/ContactAdder/Adder.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Printer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/Printers/PrinterList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.UserList</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/UserList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.UserPortfolio</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/User.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.RoleList</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/RoleList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.RolesPortfolio</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/Role.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.AccessAreaList</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/AccessAreaListDefault.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.AccessAreaPortfolio</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/AccessAreaPortfolioDefault.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Security.AssignSecurity</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/AssignSecurityDefault.aspx</HostPage>
		<AsiPageset>TestSet</AsiPageset>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SecurityAdmin.GrantSecurity</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/SecurityAdmin/GrantPrivilegesDefault.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>QueryBuilder</AsiNavMarker>
		<HostPage>iMIS/QueryBuilder/Design.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>QueryExecute</AsiNavMarker>
		<HostPage>iMIS/QueryBuilder/Execute.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Crystal.Executor</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalReports/CrystalExecutor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Crystal.Viewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalReports/CrystalViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Crystal.PDFViewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalReports/PDFViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Crystal.PEConfigurator</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalReports/CrystalPEDesigner.aspx</HostPage>
	</AsiMap>
	<!-- Begin adding nav entries for ProcessEngine Replacement -->
	<AsiMap>
		<AsiNavMarker>CrystalAtom.Executor</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalAtomReports/CrystalAtomExecutor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>CrystalAtom.Viewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalAtomReports/CrystalAtomViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>CrystalAtom.PDFViewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CrystalAtomReports/PDFViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OutputAtom.Portfolio</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Output/OutputPortfolio.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>OutputAtom.Runtime</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Output/OutputRuntime.aspx</HostPage>
	</AsiMap>
	<!-- End adding nav entries for ProcessEngine Replacement -->
	<AsiMap>
		<AsiNavMarker>PE.Portfolio</AsiNavMarker>
		<HostPage>AsiCommon/Controls/ProcessEngine/PEPortfolio.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>PE.Runtime</AsiNavMarker>
		<HostPage>AsiCommon/Controls/ProcessEngine/PERuntime.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>System.CostEditor</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/CostEditor/CostEditor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>System.ListSourceSelector</AsiNavMarker>
		<HostPage>AsiCommon/Controls/CampaignManagement/ListSourceSelector/ListSourceSelector.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Workflow.Monitor</AsiNavMarker>
		<HostPage>iMIS/WorkflowManagement/WorkflowManagerPortfolio.aspx</HostPage>
	</AsiMap>
  <AsiMap>
    <AsiNavMarker>Workflow.Viewer</AsiNavMarker>
    <HostPage>AsiCommon/Controls/WorkflowManagement/Workflow.aspx</HostPage>
  </AsiMap>
  <AsiMap>
		<AsiNavMarker>Export.Viewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/ExportAtom/ExportAtomViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>ExportAtom.Viewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/ExportAtom/ExportAtomViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Mail.ToEmailChooser</AsiNavMarker>
		<HostPage>AsiCommon/Controls/MailProcessEngine/ToEmailChooser.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Utility.TaskList</AsiNavMarker>
		<HostPage>iMIS/Tasks/TaskList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Utility.Task</AsiNavMarker>
		<HostPage>iMIS/Tasks/Task.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Utility.Export</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/ExportAtomDialog/ExportAtomDialog.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Utility.GroupEdit</AsiNavMarker>
		<HostPage>AsiCommon/Controls/Shared/Groups/SetupGroups.aspx</HostPage>
	</AsiMap>
  <AsiMap>
    <AsiNavMarker>Utility.GroupRoleEdit</AsiNavMarker>
    <HostPage>AsiCommon/Controls/Shared/Groups/SetupGroupRoles.aspx</HostPage>
  </AsiMap>
  <!-- Commerce setup -->
	
	<AsiMap>
		<AsiNavMarker>Commerce.ProductList</AsiNavMarker>
		<HostPage>iMIS/Utility/GenericList.aspx?iPageSize=25&amp;iNavMarker=Commerce.ProductSetup&amp;iDocPath=Commerce.DefaultSystem.Queries.Product&amp;iButton=New&amp;iTitle=Product Setup</HostPage>
	</AsiMap>	
	<AsiMap>
		<AsiNavMarker>Commerce.ProductSetList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/0ddd199c_c805_4dfe_87fd_d853a3f8777a_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxCategoryList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/2a47b170_8af4_4770_b8ce_de7f9950998f_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxCategoryNew</AsiNavMarker>
		<HostPage>iMIS/AtomControls/e6cfc773_b690_4d5d_ad0c_4725e5cec838_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxAuthorityList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/c64b27bc_2e8a_40bf_a8ce_659fd566da92_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxAuthorityNew</AsiNavMarker>
		<HostPage>iMIS/AtomControls/2df357b8_0a56_4640_9297_bcef24c84646_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxAuthCategoryList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/34808301_633b_42d1_af1e_6176050605f0_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxAuthCategoryEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/58851512-F139-4593-8B47-450FB90B3572_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxSchedule</AsiNavMarker>
		<HostPage>iMIS/Utility/GenericList.aspx?iPageSize=25&amp;iNavMarker=Commerce.TaxScheduleEdit&amp;iDocPath=Commerce.DefaultSystem.Queries.TaxSchedule&amp;iButton=Add New&amp;iTitle=Tax Schedule</HostPage>
	</AsiMap>	
	<AsiMap>
		<AsiNavMarker>Commerce.TaxScheduleEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/16eaa749_247d_424b_baa3_fcab2c087555_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxExemptionList</AsiNavMarker>
		<HostPage>iMIS/Commerce/TaxExemptionList.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.TaxExemptionEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/585b6a45_1b2a_4810_8f13_d9ae3d6c03dd_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.PaymentTermsList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/6bd06630_421b_4b1b_8aa2_8c62488d7af0_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.PaymentTermsCreate</AsiNavMarker>
		<HostPage>iMIS/AtomControls/369FDA84-5C3E-458C-9D5A-FEDAED821A21_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.PaymentTermsEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/43789D7A-BF41-40C9-A9BB-52A0F41513B0_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.AgingSchedule</AsiNavMarker>
		<HostPage>iMIS/Utility/GenericList.aspx?iPageSize=25&amp;iNavMarker=Commerce.AgingScheduleEdit&amp;iDocPath=Commerce.DefaultSystem.Queries.AgingSchedule&amp;iButton=Add New&amp;iTitle=Aging Schedule</HostPage>
	</AsiMap>
	
	<AsiMap>
		<AsiNavMarker>Commerce.AgingScheduleEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/901391a4_590d_492e_a871_d8b1eb9c406b_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.OrderTypeEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/72a1c3b8_5cf1_4ce9_895e_2482db3ad267_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.OrderTypeList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/06037457_bb28_43c7_a893_f0dd02872cf4_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>	
	<AsiMap>
		<AsiNavMarker>Commerce.ProductTypeEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/79088f13_8e85_4c2c_83ff_670840a83eb0_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.ProductTypeList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/fbc8201e_fdaf_45b7_bbe2_0ff22a97f88e_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.ProductClassList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/5039e7b7_effd_48bf_9a08_d132433dbc7a_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>	
	
	<AsiMap>
		<AsiNavMarker>Commerce.ProductClassEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/224b77ce_7b6b_482d_84dc_1f10f756ea51_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	
	<AsiMap>
		<AsiNavMarker>Commerce.WarehouseList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/b9035b81_b896_4359_969d_c0a499a0b015_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	
	<AsiMap>
		<AsiNavMarker>Commerce.WarehouseEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/ce59efcd_1d28_46c2_affb_1143de46e15a_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	
	<AsiMap>
		<AsiNavMarker>Commerce.ShippingCarrierCreate</AsiNavMarker>
		<HostPage>iMIS/AtomControls/1a2bf3fd_9c9e_409a_984c_1744c3f236c1_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>

	<AsiMap>
		<AsiNavMarker>Commerce.CarrierList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/5ac6a7e3_5d50_4d83_a87b_dc2807c22fb5_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>	
	
	<!-- Commerce front end -->
	<AsiMap>
		<AsiNavMarker>Commerce.ProductScreen</AsiNavMarker>
		<HostPage>iMIS/AtomControls/e05c025c_be6b_4f2f_8d41_7853a66a5729_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Commerce.ProductByClassList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/c107e8a0_459b_46df_b3b9_900fe946ab53_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<!-- General Setup -->
	<AsiMap>
		<AsiNavMarker>AddressPurposeList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/a51872bd_526c_41b1_a99d_133b4a1d2d65_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>BadAddressReasonList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/28b4b316_eec2_4367_b6c4_6ae26ea49e58_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>BadAddressReason</AsiNavMarker>
		<HostPage>iMIS/AtomControls/5a10be73_e34d_4098_a942_72d8e646dd94_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>PrefixList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/ae52d494_5f6c_4421_982a_abd5cbf3d933_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>SuffixList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/305e2e42_ca6e_4d98_ad9e_66980f51b313_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>ContactStatusList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/b03c31ec_4c2e_4778_a936_62741a2f7051_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>AddressStatusList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/84d1b1fd_40e6_4bd9_ac33_5375a81e735d_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>EducationList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/8dc92ac6_a487_4add_b889_98fa4cec9611_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>TitleList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/bbfd56a6_f33f_4aaf_b7d9_ff8ae5299eab_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>DesignationList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/9c4d1f95_d160_445f_8cd0_63e28803220c_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.SalutationList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/23f0bb70_87a6_4747_b6c4_decde6f2d20d_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.Salutation</AsiNavMarker>
		<HostPage>iMIS/AtomControls/972c52eb_3852_47c2_aaf9_c7f8959a525b_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.CommunicationPurpose</AsiNavMarker>
		<HostPage>iMIS/AtomControls/e83cd717_5185_4682_b6ec_66946ab77974_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<Info>Setup NavMarkers</Info>

	<AsiMap>
		<AsiNavMarker>Setup.General</AsiNavMarker>
		<HostPage>iMIS/AtomControls/ee67b6ec_6001_4592_b675_12c81c39bf37_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.AddressFormatList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/b4529077_bde1_4d5c_8155_73d3621e9bb8_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.AddressFormat</AsiNavMarker>
		<HostPage>iMIS/AtomControls/40f3a3a4_5fe1_4549_999a_029f60c40e6e_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.CountryList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/3f6b2fbd_f636_41af_85c4_5324368102ef_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.Country</AsiNavMarker>
		<HostPage>iMIS/AtomControls/10d1a1b3_59fb_4944_8d31_e1737e05e43e_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.StateProvinceList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/facb67c5_4020_47f0_b0c4_c9f70b048a05_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.ContactOptions</AsiNavMarker>
		<HostPage>iMIS/AtomControls/48fd9fee_72d0_4a02_8fd5_a39b1cf416af_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.ContactDetail</AsiNavMarker>
		<HostPage>iMIS/AtomControls/3aeda359_4171_4cf7_870f_f0261d66dcbb_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.AddressDetail</AsiNavMarker>
		<HostPage>iMIS/AtomControls/4a395272_9ab3_4599_8d9d_8bf8921b6279_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.Bio</AsiNavMarker>
		<HostPage>iMIS/AtomControls/4b80ba8d_09d9_4dcd_af5c_631a1c44caaa_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.ContactPurpose</AsiNavMarker>
		<HostPage>iMIS/AtomControls/6cd9ee19_babd_4eee_ad38_4a512ff700e6_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.PostalCodeList</AsiNavMarker>
		<HostPage>iMIS/Utility/GenericList.aspx?iPageSize=25&amp;iNavMarker=Setup.PostalCodeEdit&amp;iDocPath=Common.Queries.Utility.PostalCodesList&amp;iButton=Add New&amp;iTitle=Postal Code List</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.PostalCodeEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/d79b9738_3092_4aea_b924_db0bdd125669_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.CommunicationTypeList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/a4ef7fdf_3c90_41d1_bfc9_03aa9d78a343_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.AddressOptions</AsiNavMarker>
		<HostPage>iMIS/AtomControls/6dcd4928_b07c_4e22_8410_dc064c031a7c_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.CommunicationTypeEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/3bfca1f7_9f4a_4e1a_abcd_5f6dd282e302_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.AddressPurpose</AsiNavMarker>
		<HostPage>iMIS/AtomControls/823c1d69_4f57_4781_b491_f2bbdb013611_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.AddressPurposeScreen</AsiNavMarker>
		<HostPage>iMIS/AtomControls/ea86e082_8cac_416a_bdaf_4ae98553dcae_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Setup.TimeZoneList</AsiNavMarker>
		<HostPage>iMIS/AtomControls/e022693f_f6cd_42f3_bbd2_c10e08167d5c_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	
	<AsiMap>
		<AsiNavMarker>Setup.AddressCategory</AsiNavMarker>
		<HostPage>iMIS/AtomControls/bfd82a1f_e2bd_4ea5_90fd_1b20f785bfd8_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>

	<AsiMap>
		<AsiNavMarker>Setup.RelationshipType</AsiNavMarker>
		<HostPage>iMIS/AtomControls/120042b9_5216_4031_910d_5358c2d50fb4_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>

	<AsiMap>
		<AsiNavMarker>Setup.CommunicationMechanism</AsiNavMarker>
		<HostPage>iMIS/AtomControls/f2a76fac_a2fc_407c_9f28_9ef1077c6f86_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>

	<AsiMap>
		<AsiNavMarker>Setup.GroupType</AsiNavMarker>
		<HostPage>iMIS/AtomControls/112093e5_90ac_4ca2_a188_d17f2e90dd1c_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	
	<AsiMap>
		<AsiNavMarker>Setup.GroupDetails</AsiNavMarker>
		<HostPage>iMIS/AtomControls/4bc1b537_6d7c_4413_9ba5_53f001748ac6_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>

	<AsiMap>
		<AsiNavMarker>Setup.GroupRole</AsiNavMarker>
		<HostPage>iMIS/AtomControls/cea04e05_8b92_4549_babb_c7a6cacb13d2_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>

	
	<!-- Contact Management -->
	<AsiMap>
		<AsiNavMarker>Contact.PrimaryCompanyEdit</AsiNavMarker>
		<HostPage>iMIS/AtomControls/3ea90b96_3304_49e7_afff_d8926b27e633_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<!-- Ends Contact Management -->
	
	<Info>Test NavMarkers</Info>
	<AsiMap>
		<AsiNavMarker>Help</AsiNavMarker>
		<HostPage>iMIS/Help/Topic.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Email.Executor</AsiNavMarker>
		<HostPage>AsiCommon/Controls/MailProcessEngine/EmailExecutor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Email.Viewer</AsiNavMarker>
		<HostPage>AsiCommon/Controls/MailProcessEngine/EmailViewer.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Email.PEConfigurator</AsiNavMarker>
		<HostPage>AsiCommon/Controls/MailProcessEngine/EmailPEDesigner.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>RFM.Executor</AsiNavMarker>
		<HostPage>AsiCommon/Controls/RFM/RFMExecutor.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>RFM.PEConfigurator</AsiNavMarker>
		<HostPage>AsiCommon/Controls/RFM/RFMPEDesigner.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>RFM.RFMList</AsiNavMarker>
		<HostPage>iMIS/ContentManagement/Template.aspx?NavigationCode=RFM.RFMList</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>RFM.Setup</AsiNavMarker>
		<HostPage>iMIS/RFM/Setup.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>CustomerAdd</AsiNavMarker>
		<HostPage>iMIS/AtomControls/f7c812b9_ed2e_4e9b_bbaf_a1722d5b3ee8_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Order.Add</AsiNavMarker>
		<HostPage>iMIS/AtomControls/bd13033e_00fe_4220_a140_11fdb0f8a606_4da169f0_adf1_4473_863b_8d374c1343f4.aspx</HostPage>
		<!--HostPage>iMIS/Main/OrderAdd.aspx</HostPage-->
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Workflow.Edit</AsiNavMarker>
		<HostPage>iMIS/WorkflowManagement/WorkflowDesigner.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Workflow.Execute</AsiNavMarker>
		<HostPage>iMIS/WorkflowManagement/WorkflowExecute.aspx</HostPage>
	</AsiMap>
	<AsiMap>
		<AsiNavMarker>Workflow.New</AsiNavMarker>
		<HostPage>iMIS/WorkflowManagement/WorkflowDesigner.aspx</HostPage>
	</AsiMap>
  <AsiMap>
    <AsiNavMarker>QueryMultiSelect</AsiNavMarker>
    <HostPage>iMIS/QueryBuilder/MultiSelect.aspx</HostPage>
  </AsiMap>
</AsiNavigator>