<?xml version="1.0"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client url="tcp://localhost:15151">
				<activated type="Asi.Providers.Search.IndexServerQueryHelper, Asi.Providers" />
			</client>
			<channels>
				<channel ref="tcp" port="0" name="tcpclient_search">
					<serverProviders>
						<formatter ref="binary"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
