/*****************************************/
/***      MASTERPAGE STYLE SHEET       ***/
/*****************************************/
/**
 * Forest MasterPage styles for iMIS
 *
 * This document contains styles to properyly align the Forest MasterPage.
 * 
 * TABLE OF CONTENTS:
 * General
 * Header
 * Main Content
 * Footer
 * StickyFooter
 */

/************************************/
/*	       Header Section           */
/************************************/

/* This applies to the area behind the header logo and auxiliary navigation */
#doc3
{
	margin: auto !important;
	width: auto !important;
}
#Menu
{
	float:right;
	display:inline;
	/*position: absolute;*/
	right: 0;
	top: 3px;
}

#masterHeaderBackground
{
    padding:5px 10px;
	min-height:50px;
}

#masterLogoArea
{
    float:left;
}

/* This applies to the header logo */
#masterHeaderImage
{
    float:left;
    margin-top:.4em
}

/* These styles apply to the auxiliary navigation */
.NavigationUnorderedList
{
	padding-left: 0em;
	margin-left: 0.125em;
	margin-right: 0.125em;
	display: inline;
}

.NavigationListItem
{
	list-style-type: none;
	display: inline;
	margin-left: 0em;
}

#masterTopBarAuxiliary div
{
	padding-left: 0.125em !important;
	padding-right: 0.125em !important;
	white-space: nowrap !important;
	line-height: 2em; /* was 33px */
	display: inline;
	clear: both;
	float:left;
}

#masterTopBarAuxiliary input.SurfEdit
{
    /* Remove the extra padding from the surf-to-edit button */
    padding:0!important;
    vertical-align:middle;
}

#masterTopBarAuxiliary .NavigationUnorderedList .NavigationListItem .NavigationLink
{
	width: auto !important;
	text-transform: none !important;
	padding-left: 0.313em !important;
	padding-right: 0.313em !important;
    text-decoration: underline;
}

#masterTopBarAuxiliaryBottom
{
    float:right;
}

/************************************/
/*  	Main Content Section        */
/************************************/
   
/* This applies to the left nav area */
/*#masterSideBarPanel
{
	clear: both;
}*/

/* This applies to the area that contains the breadcrumb, impersonation and page tasks */
/*#masterReferenceArea
{
    clear:both;
    display:block;
    padding-top:.25em;
    min-height:2em;
}*/

/* This applies to the breadcrumb area */
#masterMainBreadcrumb
{
	float: none;
	display:inline;
	line-height:33px;
}

/***** Proxy Panel Styling *****/
/* This applies to the on behalf of (proxy) area */
#masterMainImpersonation
{
	float: right;
}

.obo-panel {
    line-height:2.4em;
    white-space:nowrap;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.obo-panel.on {
    padding-left: 2em;
    padding-right: 2em;
}
.account-menu .obo-panel {
    padding: 3px 20px;
}
.obo-label,
.obo-actions {
    display: inline-block;
}

.obo-label {
    font-weight: bold;
}
.obo-label span:after {
    content: ':';
}

/*#masterMainRosterImpersonation
{
	clear: both;
}*/

/* This applies to the page tasks (eg. Print, Email) that appear under the main navigation */
#masterPageTasks
{
	float: right;
	padding: .6em .5em 0;
}

/* Lines up the page tasks buttons */
#masterPageTasks *
{
    vertical-align:middle;
}

#masterContentArea
{
	margin: 0.5em 1.5em;
}

/* This applies to the button area at the bottom of the page (eg. Save, Cancel) */
#masterMainButtonBar
{
	margin: .5em 2em .5em 0;
	background-color: White;
}

/************************************/
/*	       Footer Section           */
/************************************/

#masterFooterNavigation .NavigationUnorderedList .NavigationListItem .NavigationLink
{
	padding-left: 0.313em !important;
	padding-right: 0.313em !important;
}


#masterFooterCopyright, #masterFooterNavigation
{
    display:block;
    line-height:3em;
    padding:0 1em;
}

/************************************/
/*    	StickyFooter Section        */
/************************************/
/** Needed for Sticky Footer, http://ryanfait.com/sticky-footer/ **/
*
{
	margin: 0;
}
html, body
{
    height:100%;
}

#masterWrapper
{
    min-height: 100%;
	height: auto !important;
	height: 100%;
}

#masterFooterPush
{
    height:6.2em;
}

/* This defines the width of the content area and the margins */
#masterWrapper, #ft
{
    min-width:1000px;
    width:92%;
    max-width:1200px;
    position:relative;
    margin-right:auto;
    margin-left:auto;
}

#masterWrapper
{
    margin-bottom: -6.2em;
}

#masterFooterNavigation, #masterFooterCopyright
{
    height:3.1em;
}

/* Needed to get rid of extra padding under the footer */
#masterFooterCopyright .yui-g:after
{
    content: none;
}