/*****************************************/
/***      BIRCH MENU STYLE SHEET       ***/
/*****************************************/
/**
 * Birch styles for PageNavR (Telerik RadMenu)
 *
 * This document contains Birch styles for the PageNavR/RadMenu control.
 */

/* <RadMenu / Default> */

.RadMenu.RadMenu_Birch {
    width: 100%;
}

.RadMenu_Birch .rmRootGroup, .RadMenu_Birch a.rmLink, 
.RadMenu_Birch .rmGroup .rmText, .RadMenu_Birch .rmVertical .rmText, 
.RadMenu_Birch .rmLeftArrow, .RadMenu_Birch .rmRightArrow, 
.RadMenu_Birch .rmTopArrow, .RadMenu_Birch .rmBottomArrow
{
    background-image: url('Menu/rmSprite.png');
    background-color: transparent;
}

.RadMenu_Birch .rmRootGroup
{
    border:none;
    background-repeat: repeat-x;
    background-position: 0 0;
    background-color: #124f9b;
    -moz-box-shadow: 0px 2px 3px #333;
    -webkit-box-shadow: 0px 2px 3px #333;
    box-shadow: 0px 2px 3px #333;
}

/* <Root items> */

.RadMenu_Birch, .RadMenu_Birch a.rmLink
{
    font: bold 11px/24px Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #FFF;
}

.RadMenu_Birch a.rmLink, .RadMenu_Birch a.rmDisabled, 
.RadMenu_Birch a.rmDisabled:hover
{
    background-position: 0 -38px;
}

.RadMenu_Birch .rmFirst a.rmLink,
.RadMenu_Birch .rmLast .rmText, .RadMenu_Birch .rmLast a.rmLink:hover .rmText,
.RadMenu_Birch .rmVertical a.rmLink, .RadMenu_Birch .rmVertical .rmText
{
    background-repeat: no-repeat;
    background-position: 0 500px;
}

.RadMenu_Birch .rmVertical .rmFirst, .RadMenu_Birch .rmVertical .rmLast
{
    background: none;
}

.RadMenu_Birch a.rmLink:hover, .RadMenu_Birch a.rmFocused, 
.RadMenu_Birch a.rmSelected
{
    background-position: 0 -71px;
    color:#333;
}

.RadMenu_Birch .rmFirst a.rmLink:hover
{
    background-position: -1px -71px;
} 

.RadMenu_Birch .rmHorizontal .rmRootLink span.rmText
{
    display: inline;
    padding-left: 12px;
    text-transform:uppercase;
}

.RadMenu_Birch_rtl .rmRootLink span.rmText
{
    padding-right: 12px;
}

.RadMenu_Birch_Context_rtl .rmRootLink span.rmText
{
    padding-right: 28px;
}

.RadMenu_Birch .rmHorizontal a.rmRootLink
{
    padding-left: 0;
}

.RadMenu_Birch_rtl a.rmRootLink
{
    margin-left: 0;
    padding: 0;
}

.RadMenu_Birch .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
    width: 100%;
}

.RadMenu_Birch ul.rmHorizontal .rmLeftImage
{
    margin: 4px -4px 0 6px;
}

.RadMenu_Birch_rtl ul.rmHorizontal .rmLeftImage
{
    margin: 4px 6px 0 -4px;
}

.RadMenu_Birch .rmVertical a.rmLink
{
    padding-top: 1px;
    padding-bottom: 1px;
}

.RadMenu_Birch .rmVertical a.rmLink:hover, .RadMenu_Birch .rmVertical a.rmFocused, 
.RadMenu_Birch .rmVertical a.rmSelected, .RadMenu_Birch .rmVertical a.rmExpanded, 
.RadMenu_Birch .rmVertical a.rmExpanded:hover
{
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-color: #414141;
    border-width: 1px 0;
}

.RadMenu_Birch .rmVertical .rmFirst a.rmLink:hover, .RadMenu_Birch .rmVertical .rmFirst a.rmFocused, 
.RadMenu_Birch .rmVertical .rmFirst a.rmSelected, .RadMenu_Birch .rmVertical .rmFirst a.rmExpanded, 
.RadMenu_Birch .rmVertical .rmFirst a.rmExpanded:hover
{
    padding-top: 1px;
    padding-bottom: 0;
    border-top-width: 0;
}

.RadMenu_Birch .rmVertical .rmLast a.rmLink:hover, .RadMenu_Birch .rmVertical .rmLast a.rmFocused, 
.RadMenu_Birch .rmVertical .rmLast a.rmSelected, .RadMenu_Birch .rmVertical .rmLast a.rmExpanded, 
.RadMenu_Birch .rmVertical .rmLast a.rmExpanded:hover
{
    padding-bottom: 1px;
    padding-top: 0;
    border-bottom-width: 0;
}

.RadMenu_Birch .rmVertical .rmItem a.rmDisabled:hover
{
    padding-top: 1px;
    padding-bottom: 1px;
    border-width: 0;
}

.RadMenu_Birch a.rmDisabled, .RadMenu_Birch a.rmDisabled:hover
{
    color: #CCC;
    background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */


.RadMenu_Birch .rmGroup, .RadMenu_Birch .rmMultiColumn, .RadMenu_Birch .rmGroup .rmVertical
{
    border: 1px solid #16498a;
    background: #3d75b9;
}

.RadMenu_Birch .rmGroup .rmItem .rmLink .rmText
{
    padding-left: 15px;
    padding-right: 54px;
}

.RadMenu_Birch .rmTopFix, .RadMenu_Birch .rmBottomFix, 
.RadMenu_Birch .rmRoundedCorners .rmGroup .rmItem, 
.RadMenu_Birch .rmRoundedCorners li.rmFirstGroupColumn .rmItem, 
.RadMenu_Birch .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, 
.RadMenu_Birch .rmRoundedCorners ul.rmHorizontal .rmFirst, 
.RadMenu_Birch_Context.rmRoundedCorners .rmGroup .rmItem, 
.RadMenu_Birch_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #777;
    background-repeat: repeat-y;
}

* html .rmRoundedCorners_Birch .rmGroup .rmItem, * html .rmRoundedCorners_Birch ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #777;
    background-repeat: repeat-y;
}

.RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmGroup, 
.RadMenu_Birch .rmRoundedCorners .rmScrollWrap .rmItem, 
.RadMenu_Birch .rmRoundedCorners .rmGroupColumn .rmItem, 
.RadMenu_Birch .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem, 
.RadMenu_Birch .rmRoundedCorners .rmHorizontal .rmItem, 
.RadMenu_Birch .rmRoundedCorners .rmScrollWrap .rmVertical, 
.RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup, 
.RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrap .rmItem, 
.RadMenu_Birch_Context.rmRoundedCorners .rmHorizontal .rmItem, 
.RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
    background-image: none;
}

* html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmGroup, * html .rmRoundedCorners_Birch .rmScrollWrap .rmItem, * html .rmRoundedCorners_Birch .rmHorizontal .rmItem, * html .rmRoundedCorners_Birch .rmScrollWrap .rmVertical
{
    background-image: none;
}

.RadMenu_Birch .rmRoundedCorners .rmGroupColumn
{
    background-color: #777;
}

.RadMenu_Birch .rmBottomLeft, .RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer, .RadMenu_Birch_Context.rmRoundedCorners ul.rmGroup, .RadMenu_Birch .rmRoundedCorners ul.rmGroup, .RadMenu_Birch .rmRoundedCorners .rmMultiColumn
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

* html .rmRoundedCorners_Birch .rmScrollWrapContainer, * html .rmRoundedCorners_Birch .rmGroup ul.rmGroup, * html .rmRoundedCorners_Birch ul.rmGroup
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_Birch .rmTopRight, .RadMenu_Birch .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadMenu_Birch .rmTopFix, .RadMenu_Birch .rmBottomFix, .RadMenu_Birch .rmRoundedCorners .rmGroup .rmFirst, .RadMenu_Birch_Context.rmRoundedCorners .rmGroup .rmFirst, .rmRoundedCorners_Birch .rmGroup .rmFirst
{
    border-color: #979797;
}

.RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
    background: #777;
}

* html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmTopFix, * html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmBottomFix
{
    background: #777;
}

.RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
    background-color: #777;
    border: 0;
}

* html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmTopArrow, * html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmBottomArrow, * html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmLeftArrow, * html .rmRoundedCorners_Birch .rmScrollWrapContainer .rmRightArrow
{
    background-color: #777;
    border: 0;
}

.RadMenu_Birch_rtl .rmBottomLeft, .RadMenu_Birch_rtl .rmRoundedCorners ul.rmGroup, .RadMenu_Birch_rtl .rmRoundedCorners .rmMultiColumn, .RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_Birch .rmScrollWrapContainer .rmBottomLeft, .rmRoundedCorners.RadMenu_Birch_Context_rtl ul.rmGroup, .RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer
{
    background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Birch_rtl .rmTopRight, .RadMenu_Birch_rtl .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Birch_rtl li.rmTopFix, .RadMenu_Birch_rtl li.rmBottomFix, .RadMenu_Birch_rtl .rmRoundedCorners .rmGroup .rmItem, 
.rmRoundedCorners.RadMenu_Birch_Context_rtl .rmGroup .rmItem
{
    background-position: 101% 0;
}

.RadMenu_Birch .rmSlide .rmScrollWrap
{
    background-image: none;
}

.RadMenu_Birch_rtl .rmGroup, .RadMenu_Birch_rtl .rmMultiColumn, .RadMenu_Birch_rtl .rmGroup .rmVertical
{
    background-position: 100% 0;
}

.RadMenu_Birch .rmRootGroup li.rmItem .rmGroup
{
    padding-bottom: 0;
}

.RadMenu_Birch .rmRootGroup .rmHorizontal
{
    background-image: none;
}

.RadMenu_Birch .rmScrollWrap .rmVertical
{
    border: 0;
}

.RadMenu_Birch .rmRoundedCorners .rmScrollWrapContainer li.rmItem, 
.RadMenu_Birch_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem, 
.rmRoundedCorners_Birch .rmScrollWrapContainer li.rmItem
{
    background: none;
}

.RadMenu_Birch .rmGroup .rmItem a.rmLink, .RadMenu_Birch .rmGroup .rmItem a.rmLink:hover, 
.RadMenu_Birch .rmGroup .rmItem a.rmFocused, .RadMenu_Birch .rmGroup .rmItem a.rmSelected, 
.RadMenu_Birch .rmGroup .rmItem a.rmExpanded
{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.RadMenu_Birch .rmGroup .rmLast a.rmLink, .RadMenu_Birch .rmGroup .rmLast a.rmLink:hover, 
.RadMenu_Birch .rmGroup .rmLast a.rmFocused, .RadMenu_Birch .rmGroup .rmLast a.rmSelected, 
.RadMenu_Birch .rmGroup .rmLast a.rmExpanded
{
    padding-bottom: 1px;
}

.RadMenu_Birch .rmGroup a.rmLink, .RadMenu_Birch .rmGroup .rmText, .RadMenu_Birch .rmGroup .rmItem a.rmDisabled, 
.RadMenu_Birch .rmGroup .rmItem a.rmDisabled:hover, .RadMenu_Birch .rmGroup .rmItem a.rmDisabled .rmText, 
.RadMenu_Birch .rmGroup .rmItem a.rmDisabled:hover .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.RadMenu_Birch .rmGroup a.rmLink:hover, .RadMenu_Birch .rmGroup a.rmFocused, 
.RadMenu_Birch .rmGroup a.rmSelected, .RadMenu_Birch .rmGroup a.rmExpanded
{
    background-position: 0 -168px;
}

.RadMenu_Birch .rmGroup a.rmLink:hover .rmText, .RadMenu_Birch .rmGroup a.rmFocused .rmText, 
.RadMenu_Birch .rmGroup a.rmSelected .rmText, .RadMenu_Birch .rmGroup a.rmExpanded .rmText
{
    background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Birch .rmRootGroup .rmExpandRight, .RadMenu_Birch .rmGroup .rmExpandDown, 
.RadMenu_Birch_Context .rmGroup .rmExpandRight, .RadMenu_Birch .rmRootGroup .rmItem a.rmDisabled .rmExpandRight, 
.RadMenu_Birch .rmGroup .rmItem a.rmDisabled .rmExpandDown, 
.RadMenu_Birch .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight, 
.RadMenu_Birch .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
    background-position: 100% -216px;
}

.RadMenu_Birch a.rmLink:hover .rmExpandRight, .RadMenu_Birch .rmLast a.rmLink:hover .rmExpandRight, 
.RadMenu_Birch a.rmFocused .rmExpandRight, .RadMenu_Birch a.rmSelected .rmExpandRight, 
.RadMenu_Birch a.rmExpanded .rmExpandRight
{
    background-position: 100% -312px;
}

.RadMenu_Birch .rmGroup a.rmLink:hover .rmExpandRight, .RadMenu_Birch .rmGroup a.rmFocused .rmExpandRight, 
.RadMenu_Birch .rmGroup a.rmSelected .rmExpandRight, .RadMenu_Birch .rmGroup a.rmExpanded .rmExpandRight, 
.RadMenu_Birch .rmGroup a.rmLink:hover .rmExpandDown, .RadMenu_Birch .rmGroup a.rmFocused .rmExpandDown, 
.RadMenu_Birch .rmGroup a.rmSelected .rmExpandDown, .RadMenu_Birch .rmGroup a.rmExpanded .rmExpandDown
{
    background-position: 100% -240px;
}

.RadMenu_Birch .rmRootGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_Birch .rmGroup a.rmDisabled:hover .rmExpandDown
{
    background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Birch_rtl a.rmLink, .RadMenu_Birch_rtl .rmRootGroup a.rmDisabled
{
    background-position: 100% -96px;
}

.RadMenu_Birch_rtl .rmGroup a.rmDisabled
{
    background: none;
}

.RadMenu_Birch_rtl .rmText
{
    background-position: 0 -96px;
}

.RadMenu_Birch_rtl .rmVertical a.rmExpanded .rmText, .RadMenu_Birch_rtl .rmVertical a.rmExpanded:hover .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
}

.RadMenu_Birch_rtl .rmGroup a.rmLink:hover, .RadMenu_Birch_rtl .rmGroup a.rmFocused, 
.RadMenu_Birch_rtl .rmGroup a.rmSelected, .RadMenu_Birch_rtl .rmGroup a.rmExpanded
{
    background-position: 100% -264px;
}

.RadMenu_Birch_rtl .rmGroup a.rmLink:hover .rmText, .RadMenu_Birch_rtl .rmGroup a.rmFocused .rmText, 
.RadMenu_Birch_rtl .rmGroup a.rmSelected .rmText, .RadMenu_Birch_rtl .rmGroup a.rmExpanded .rmText
{
    background-position: 0 -288px;
}

.RadMenu_Birch_Context_rtl .rmVertical .rmExpandLeft, .RadMenu_Birch_rtl .rmRootGroup .rmExpandLeft
{
    background-position: 0 -312px;
}

.RadMenu_Birch_rtl .rmVertical a.rmLink:hover .rmExpandLeft, .RadMenu_Birch_rtl .rmVertical a.rmFocused .rmExpandLeft, 
.RadMenu_Birch_rtl .rmVertical a.rmSelected .rmExpandLeft, .RadMenu_Birch_rtl .rmVertical a.rmExpanded .rmExpandLeft
{
    background-position: 0 -216px;
}

.RadMenu_Birch_rtl .rmGroup a.rmLink:hover .rmExpandLeft, .RadMenu_Birch_rtl .rmGroup a.rmFocused .rmExpandLeft, 
.RadMenu_Birch_rtl .rmGroup a.rmSelected .rmExpandLeft, .RadMenu_Birch_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-position: 0 -336px;
}

.RadMenu_Birch_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_Birch .rmSlide
{
    margin: 0 0 0 -1px;
}

.RadMenu_Birch .rmVertical .rmSlide, .RadMenu_Birch .rmSlide .rmSlide, .RadMenu_Birch_Context .rmGroup .rmSlide
{
    margin: 0 0 0 -5px;
}

.RadMenu_Birch_rtl .rmSlide
{
    margin: 0 0 0 0;
}

.RadMenu_Birch_rtl .rmFirst .rmSlide
{
    margin-left: 1px;
}

.RadMenu_Birch_rtl .rmVertical .rmSlide, .RadMenu_Birch_rtl .rmSlide .rmSlide, .RadMenu_Birch_Context_rtl .rmGroup .rmSlide
{
    margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Birch .rmLeftArrow, .RadMenu_Birch .rmRightArrow
{
    background-color: #E6E6E6;
}

.RadMenu_Birch .rmLeftArrow
{
    background-position: -8px -312px;
    border-right: 1px solid #828282;
}
.RadMenu_Birch .rmRightArrow
{
    background-position: -482px -216px;
    border-left: 1px solid #828282;
}

.RadMenu_Birch .rmTopArrow, .RadMenu_Birch .rmBottomArrow, .RadMenu_Birch .rmGroup .rmLeftArrow, 
.RadMenu_Birch .rmGroup .rmRightArrow
{
    background-color: #666;
}

.RadMenu_Birch .rmTopArrow
{
    background-position: 50% -367px;
    border-bottom: 1px solid #828282;
}
.RadMenu_Birch .rmBottomArrow
{
    background-position: 50% -391px;
    border-top: 1px solid #828282;
}

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Birch .rmHorizontal .rmSeparator .rmText, 
.RadMenu_Birch .rmVertical .rmHorizontal .rmSeparator .rmText
{
    height: 22px;
    margin: 1px 0 0;
    width: 1px;
    background-color: #A8A8A8;
}

.RadMenu_Birch_Context .rmSeparator .rmText, 
.RadMenu_Birch .rmHorizontal .rmGroup .rmSeparator .rmText, 
.RadMenu_Birch .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
    background-color: transparent;
    background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */

.RadMenu_Birch .rmRootGroup .rmVertical .rmSeparator .rmText, 
.RadMenu_Birch_Context .rmVertical .rmSeparator .rmText
{
    margin: 1px 5px!important;
}